<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
}
a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
</style>
</head>
<body>

<div class='topBar'>
<ul>
  <li><a href="/organisms">All Organisms</a></li>
  <li><a href="/organismss">Test</a></li>
  </br>
</ul>
</div>

<h1>Plots of Land</h1>

<% @plots.each do |plot| %>
  <h2><%= plot.name %> </h2> 
  <p><%= plot.created_at %></p>
<% end %>


</body>
</html>