<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #416a59;
}
li {
  float: left;
}
a {
  display: block;
  color: #d3d3d3;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #d3d3d3;
}
</style>
</head>
<body>

<div class='topBar'>
<ul>
  <li><a href="/organisms">All Organisms</a></li>
  </br>
</ul>
</div>

<h1>Plots of Land</h1>
<% @plots.each do |plot| %>
  <h2><%= plot.name %> </h2> 
  <p><%= plot.created_at %></p>
<% end %>

</body>
</html>